.text-1{
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  color:white;
}

.text-2 {
  font-family: "Winky Sans", sans-serif;
  font-size:16px ;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.3px;
}

.bottomleft {
  font-family: "Winky Sans", sans-serif;
  font-size:14px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
}

.bottomleft::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 90%;
  background-color: white;
  left:-25px;
  top: 50%;
  transform: translateY(-50%);
  opacity:50%;
}

.circulartext {
  word-spacing: 10px;
  letter-spacing: 4px;
  font-size: 20px;
  font-family: "Winky Sans", sans-serif;
  font-weight:400;
}

.animate-spin-slow {
animation: spin 15s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-button {
animation: button 70s linear infinite reverse;
}

@keyframes button {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-3{
font-family: "Simonetta";
line-height: 110px;
word-spacing: 10px;
font-size: 7vw;
margin-bottom: 5vh;
}

.text-3::after{
content: "";
position :absolute;
width: 50vw;
height:1.8px;
background-color: black;
top:48vh;
color: rgb(255, 202, 103);
}

.food{
filter:drop-shadow(-2px -1px 15px rgba(255, 202, 103, 0.5)) drop-shadow(-2px 1px 15px rgba(255, 202, 103, 0.5));
}

.foodbg{
border-radius: 57% 43% 47% 53% / 58% 57% 43% 42% ;
}

.text-4{
font-family: "Winky Sans", sans-serif;
font-size:20px;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal;
}

.text-scroll {
scroll-snap-type: x mandatory;
}

.sectionName {
scroll-snap-align: center;
}

.scale-pattern {
  height: 60px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overflow-x-auto {
  -ms-overflow-style: none; 
}

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.menu-container {
  width:100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* transition: scroll-behavior 2s ease; */
}

.menu-item {
  width:20vw;
  height:55vh;
  scroll-snap-align: center;
  transition: transform 2s ease;
  transform-origin: center;
}

.menu-item.active {
  width:23vw;
  /* transition: transform 1s ease, width 0.5s ease, height 0.5s ease, font-size 0.5s ease; */
}

.menu-item h1{
  font-size: 24px;
  margin-top: 10px;
}

.menu-item p{
  font-size: 16px;
  line-height: 20px;
  opacity:90%;
}
